button {
  --btn-color: var(--primary-color, #000);
  --btn-hover-opacity: 0.04;
  --btn-focus-opacity: 0.12;
  --btn-pressed-opacity: 0.16;
  --btn-overlay-color: var(--primary-color, #000);

  position: relative;
  display: flex;

  height: 36px;
  /* min-width: 64px; */
  padding: 0px 8px;
  box-sizing: border-box;

  align-items: center;
  justify-content: center;

  font-size: 14px;
  line-height: 36px;
  color: var(--btn-color);
  /* text-indent: 4px; for icon padding */
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;

  background-color: transparent;
  border: none;

  user-select: none;
  outline: none;

  transition: all 100ms ease-in-out;
}

button > span {
  padding: 0 8px;
}

button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
  opacity: 0;
  transition: all 100ms ease-in-out;
}

button:hover:after {
  opacity: var(--btn-hover-opacity);
}
button:focus:after {
  opacity: var(--btn-focus-opacity);
}
button:active:after {
  opacity: var(--btn-pressed-opacity);
}

button[disabled] {
  color: #000;
  filter: grayscale(100%) opacity(0.5);
}
button[disabled]:after {
  opacity: 0;
}

/* MODIFIERS */

button.text {
  color: var(--primary-color, #000);
}

button:after {
  background-color: var(--btn-overlay-color);
}

button.outlined {
  color: var(--primary-color, #000);
  border: 1px solid #0000001e;
}

button.contained {
  --btn-color: #fff;
  --btn-hover-opacity: 0.08;
  --btn-focus-opacity: 0.24;
  --btn-pressed-opacity: 0.32;
  --btn-overlay-color: #fff;

  background-color: var(--primary-color, #000);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
}
