@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./card.css";
@import "./button.css";
@import "./item.css";

body {
  font-family: "Roboto", sans-serif;
  background-color: #eeeeee;
}

:root {
  --primary-color: #00a295;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: lightgrey;
  z-index: 1;
}

.cart {
  position: relative;
}

.cart-popup {
  position: absolute;
  right: 0;
  padding: 8px;
}

.items {
  flex-wrap: wrap;
  display: flex;
}

.hidden {
  display: none;
}
