.item {
  width: 250px;
}

.item > .actions {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
  width: 100%;
}

.item > .image {
  width: 100%;
}

.item > .info {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
  width: 100%;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  box-sizing: border-box;
  padding: 8px 16px 8px 16px;
  width: 100%;
}

.primary {
  font-size: 24px;
}

.secondary {
  font-size: 14px;
}
